<a href="https://colab.research.google.com/github/xXalvaroLvXx/edd_1320_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python
### Variables
tipo dinamico
"escuela = "Fes Aragon"

In [5]:
escuela = "Fes Aragon"
print(escuela)
print("-------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una 
frase
de multiples lineas
y tambien es 
un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

Fes Aragon
-------

Esta es
una
frase
de multiples lineas
y tambien es
un tipo de dato

# Print
con comas,

con signo +

con formato ()

con el operador f""

In [6]:
print(nombre,edad)

jose 13

In [8]:
# + concatena
print(nombre + str(edad))
print(nombre+nombre_completo)

jose13
josejose sosa cardenas

In [10]:
# con formato _> Su nombre es Jose y su edad es 13 años.
print("Su nombre es",nombre,"y su edad es de",edad,"años")
print("su nombre es {0} y su edad es de {1} años".format(nombre,edad))

Su nombre es jose y su edad es de 13 años
su nombre es jose y su edad es de 13 años

In [11]:
# con formato con el operador f ""
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es jose y su edad es de 13 años

# Caracter de escape
\n salto de linea

\t tabulador

\a beep

\\"   imprimir comilla doble

\\'   imprimir comilla simple

In [12]:
"""
Esto es 
un comentario 
de multiple linea
tan tan
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de dato en Python
dir()

help()

In [ ]:
# str, int, float, bool... list, dict, set
help(str)

In [18]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper(),end="----" )
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

In [ ]:
help(print)

# clase String
Es manejada como un arreglo (c o java) o lista (python)

In [19]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

# saicing (rebanado)
[inicio : stop : incremento]
nota: el stop no se incluye, termina en el valor anterior al stop

In [28]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop es len (str)
print(telefono[::])
# incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# funciones del string
Exiten metodos muy utiles en esta clase.

In [48]:
facultad = "    facultad de estudios superiores aragon     \n "
print(facultad)
print( facultad.count("s")  )# nosa ayuda a contar el numero de cosas que le pidas
print(facultad.find("s") ) #nos busca el primer factor que le pidas
print( facultad.strip()  )#strip quita los espacios y cambios de linea
print(len(facultad))#el numero de largo de a oracion      
print(facultad.strip().split("t"))

print("------------------")
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)

    facultad de estudios superiores aragon

4
17
facultad de estudios superiores aragon
49
['facul', 'ad de es', 'udios superiores aragon']
------------------
    facultad de estudios superiores aragon