<a href="https://colab.research.google.com/github/xXalvaroLvXx/edd_1320_2021/blob/master/6octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# Strin continuacion

numeros_txt = "     1, 2, 3 ,4   , 5  , 35   ,15  ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
    numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)


# funcion range

# range(inicio,stop,incremento)
print(range(1,10,3))
rango= range(1,10,2)

for x in rango:
    print(x)


rango = range(10)
for x in rango:
    print(x)

     1, 2, 3 ,4   , 5  , 35   ,15  ,12
['1', ' 2', ' 3 ', '4   ', ' 5  ', ' 35   ', '15  ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
-declaran con [ ]
-selector [ int ]

# tuplas
- NO mutables 
-declaran con ( )
-selectos [ int ]

# diccionarios
- mutables
-son conjuntos de pares llave:valor
-eqiovalentes a los Objetos JSON de JavaScript

# conjuntos
- representacion de la teoria de conjuntos

In [30]:
  #listas
  frutas = [ "pera" , "manzana", "fresa" , "kiwi" , "naranja" ]
  print(frutas)
  cosas = ["cuaderno" , 2 ,3.1416 , True , False , [ "rojo" , "azul" ]]
  print(cosas)
  frutas[2]="fresas"   # frutas[2] = frutas[2].capitalize()
  print(frutas)
  #agregar  a lista
  frutas.append("aguacate")
  print(frutas)
  frutas.insert(2,"sandia")
  print(frutas)               # "append" e "insert" se van a usar mucho

  # conectar listas
  fecha = [ "6","10","2020"]
  print(fecha)
  fecha_str = "/".join(fecha)   # 06/10/2020
  print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'fresas', 'kiwi', 'naranja']
['pera', 'manzana', 'fresas', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'fresas', 'kiwi', 'naranja', 'aguacate']
['6', '10', '2020']
6/10/2020

In [27]:
  # eliminar elementos
  cosas = ["cuaderno" , 2 ,3.1416 , True , False , [ "rojo" , "azul" ]]
  print(cosas)
  cosas.append("lilbro")
  cosas.append("lapiz")
  print(cosas)
  algo = cosas.pop()
  print(cosas)
  print(algo)

  algo = cosas.pop(2)
  print(cosas)
  print(algo)

  # vaciar una lista

  cosas.clear()
  print(cosas)

  # ordenar
  print(frutas)
  frutas.sort()
  print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'lilbro', 'lapiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'lilbro']
lapiz
['cuaderno', 2, True, False, ['rojo', 'azul'], 'lilbro']
3.1416
[]
['aguacate', 'fresas', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']
['aguacate', 'fresas', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']
[]

In [42]:
# slicing 
numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros[8:13:1])

# sustituir rebanadas

numeros[8:13] =[-2,-2]
print(numeros)

# preguntar por existencia 
print(100 in numeros)

(8, 9, 10, 11, 12)
False

Listas multi dimesion 

listas dentro de listas

In [56]:
 computadoras = "HP" , "Mac Book Pro 17" , "Mate book" , "Lenovo legion"
 oss = ["Windows 10" , "Linux" , "Android" , "iOS" ]

 computo = [computadoras , oss]
 print(computo[0])
 print(computo[1])
 print(computo[0][2])
 print(computo[0][2][0:5])
 print(computo[0][3][5::-1])
 print(computo[0][3][-8::-1])
 print("Linux" in computo[1])

 dbms = [ ["Mysql" ,"Open Soure" , False] ,["MS SQL Server","de paga", True] ]
 computo.append(dbms)
 print(computo)
 print(computo[2][0][0])
 print(computo[2][1][1])

('HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion')
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[('HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'), ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Soure', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga

In [ ]:
help(list)